*,

*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* Animation */
.preloader{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 61, 123, 0.823);
    z-index: 2;
    transition: 3s all;
    opacity: 1;
    visibility: visible;
}

.done{
    opacity: 0;
    visibility: hidden;
}

.loader{
    width: 120px;
    height: 120px;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 50%;
    border-bottom-color: rgb(255, 0, 0);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    animation: 1.3s spin infinite linear ;
}

.loader1{
    width: 100px;
    height: 100px;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
    border-bottom-color: rgba(17, 44, 201, 0.755);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    animation: 1.5s load infinite linear ;
}

.loader2{
    width: 85px;
    height: 85px;
    background: url(../img/logo-main.png) center / cover;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.549);
    border-radius: 50%;
    transform: translate(-50% , -50%);
    animation: 2.5s inload infinite linear ;
}


@keyframes spin{
    from{
        transform: translate(-50% , -50%) rotate(360deg);
    }
    to{
        transform: translate(-50% , -50%) rotate(360deg);
    }
}

@keyframes load{
    from{
        transform: translate(-50% , -50%) rotate(360deg);
    }
    to{
        transform: translate(-50% , -50%) rotate(30deg);
    }
}

/* down_up */

.down_up{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

header{
    background: url(../img/bg_image.jpg) center / cover no-repeat;
    opacity: inherit;
    flex: 0 0 60%;
    width: 100%;
    height: 100vh;
    position: relative;
}

.nav-item .span{
    width: 100%;
    height: 3px;
    display: block;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

.nav-item:hover span{
    width: 100%;
    height: 3px;
    display: flex;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

/* ====================media================= */


.navbar{
    background: linear-gradient(140deg, #d82d47f1 35%, rgba(12, 11, 11, 0.57) 25%);
}


/* Modal sign up */

.modal-dialog {
    width: 395px;
}

.modal-content{
   width: 395px;
}
.inputs .input_link{
    margin: 5px 0;
}

.input_link  input{
    width: 350px;
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #00000036;
}

.text_contents{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text_contents span{
    width: 50%;
    height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.782);
}

.text_contents img{
    border-radius: 50%;
    border: 1px solid #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: rgba(0, 0, 0, 0.487);
    border-top:4px solid  blue;
    border-bottom: 4px solid blue;
}

/* ================================== */

/* ABOUT */


.about {
    position: relative;
    width: 100%;
    max-height: 100%;
    background: url('../img/bg-11.jpg') right / cover no-repeat fixed;
}

.jumbotron.about_items {
    text-align: left;
    background: none;
    background-color: none;
    padding-bottom: 50px;

}

.about_items  p {
    font-size: 16px;
    line-height: 1.8;
    color: rgb(59, 53, 53);
    font-weight: 500;
}


/* servecces */

.servecces{
   background-color: #FFFFFF;
}

.card {
   border: none;
   outline: none;
   background: #FFFFFF;
   overflow: hidden;
   visibility: visible;
}

.card-body {
    margin-bottom: 20px;
    overflow: hidden;
    visibility: visible;
}

/* OUr teams */

.teams {
    width: 100%;
    max-height: 100%;
    background: url('../img/carousel-bg.jpg') center / cover no-repeat;
    overflow: hidden;
}

.swiper-container {
    margin-top: 50px;
    width: 80%;
    padding-top: 50px;
}

.pagination_inems{
    margin: 0 auto;
    width: 50px;
}


.swiper-slide.card{
    padding-top: 50px;
}

.swiper-slide {
text-align: center;
font-size: 18px;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.center_btn  {
    margin: 30px;
}




/* Contacts */
.contacts{
    width: 100%;
    text-align: center;
    background-color: #F7F8FC;
}
.contacts h1{
    font-size: 35px;
    margin-bottom: 40px;
}
.cen{
    text-align: center;
}
.cen li{
    list-style: none;
}
.one{
    margin: 0 3px 10px 3px;
    width: 35%;
    font-size: 15px;
    padding: 15px 50px 15px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.coment{
    width: 35%;
    margin-top: 10px;
    font-size: 17px;
    padding: 5px 10px;
}
.submit{
    text-align: center;
    margin-top: 4px;
}
.submit input{
    background-color: royalblue;
    color: white;
    border: 0;
    width: 20%;
    height: 7vh;
    border-radius: 5px;
}
.submit input:hover{
    color: white;
    background-color: grey;
    transition: 0.5s;
}


/* Footer */

.footer_items {
    width: 100%;
    padding: 20px 0 10px 0;
}
.footer_left ul {
    list-style: none;
 }
 .footer_left ul li {
     padding: 0 20px 0 0;
 }
 .footer_left ul li a {
     text-decoration: none;
     color: rgb(236, 225, 225);
     transition: .3s linear;
 }
 .footer_left ul li a:hover{
     text-decoration: underline;
     color: burlywood;
     transition: .3s linear;
 }
 .icons a i {
     padding: 0 10px ;
 }
 .icons a i:hover {
     color: burlywood;
 }


/* MEDIA */
@media (max-width: 1321px)and (min-width: 1030px){
   
    .about {
     width: 100%;
     max-height: 100%;
     background: url('../img/bg-11.jpg') top right -50px / cover no-repeat;
     
     }
 
     .jumbotron.about_items {
         width: 55%;
         padding-left: 30px;
         text-align: left;
         background: none;
         background-color: none;
 
     }
 
     /* servecces */
 
     .servecces{
         margin-top: -100px;
         background-color:#FFFFFF;
     }
     
     .card {
         border: none;
         outline: none;
         background: #FFFFFF;
     }
     
     .card-body {
         margin-bottom: 20px;
     }
 
     /* OUr teams */
 
     .teams {
         width: 100%;
         max-height: 100%;
         background: url('../img/carousel-bg.jpg') center /  no-repeat;
     }
 
 
/* Contacts */

.contact{
    background-color: rgba(185, 182, 182, 0.377);
    padding: 0 150px;
}

@media (min-width: 750px) and (max-width: 1350px){
    .contact_item{
        padding: 0 200px;
    }
}

@media (min-width: 1024px) and (max-width: 1100px){
   
   .about {
    width: 100%;
    max-height: 100%;

    }

    .jumbotron.about_items {
        width: 60%;
        padding-left: 30px;
        text-align: left;
        background: none;
        background-color: none;

    }

    .about_items  p {
        font-size: 18px;
        line-height: 1.8;
        color: rgb(59, 53, 53);
        font-weight: 500;
    }

    /* servecces */

    .servecces{
        margin-top: -100px;
        background-color:#FFFFFF;
    }
    
    .card {
        border: none;
        outline: none;
        background: #FFFFFF;
    }
    
    .card-body {
        margin-bottom: 20px;
    }

    /* OUr teams */

    .teams {
        width: 100%;
        max-height: 100%;
        background: url('../img/carousel-bg.jpg') center /  no-repeat;
    }


    /* FOOTER */

    .contacts{
        width: 100%;
        max-height: 100%;
        text-align: center;
        background-color: #F7F8FC;
    }
    .contacts h1{
        font-size: 35px;
        margin-bottom: 40px;
    }
    .cen{
        text-align: center;
    }
    .cen li{
        list-style: none;
    }
    .one{
        margin: 0 3px 10px 3px;
        width: 35%;
        font-size: 15px;
        padding: 10px 50px 10px 20px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .coment{
        width: 35%;
        margin-top: 10px;
        font-size: 17px;
        padding: 5px 10px;
    }
    .submit{
        text-align: center;
        margin-top: 10px;
        padding: 1px;
    }
    .submit input{
        background-color: royalblue;
        color: white;
        border: 0;
        width: 20%;
        height: 40px;
        border-radius: 5px;
    }

    .footer_items {
        width: 100%;
        padding: 20px 0 10px 0;
    }
    .footer_left ul {
        list-style: none;
    }
    .footer_left ul li {
        padding: 0 20px 0 0;
    }
    .footer_left ul li a {
        text-decoration: none;
        color: rgb(236, 225, 225);
        transition: .3s linear;
    }
    .footer_left ul li a:hover{
        text-decoration: underline;
        color: burlywood;
        transition: .3s linear;
    }
    .icons a i {
        padding: 0 10px ;
    }
    .icons a i:hover {
        color: burlywood;
    }
    
        

}


@media screen and (max-width: 768px){
    .about {
     width: 100%;
     max-height: 100%;
     
     }
 
     .jumbotron.about_items {
         width: 70%;
         text-align: left;
         margin-left: -40px;
         background: none;
         background-color: none;
 
     }
 
     .about_items  p {
         font-size: 16px;
         line-height: 1.8;
         color: rgb(59, 53, 53);
         font-weight: 500;
     }
 
     /* servecces */
 
    
     .card-body {
         margin-bottom: 20px;
     }
 
     /* OUr teams */
 
     .teams {
         width: 100%;
         max-height: 100%;
         background: url('../img/carousel-bg.jpg') center /  no-repeat;
     }

     .swiper-slide {
        text-align: center;
        font-size: 16px;
    
    }
 
 
     /* Our contacts */
 
     .contacts{
         width: 100%;
         max-height: 100%;
         text-align: center;
         background-color: #F7F8FC;
     }
     .one{
         margin: 0 3px 10px 3px;
         width: 40%;
         height: 35px;
         font-size: 14px;
         padding: 10px 20px 10px 20px;
         background-color: rgba(0, 0, 0, 0.1);
         border: 1px solid rgba(0, 0, 0, 0.1);
     }
     .coment{
         width: 40%;
         margin-top: 10px;
         font-size: 14px;
         height: 130px;
         padding: 5px 10px;
     }


     /* Footer */


     .footer_items {
         width: 100%;
         padding: 20px 0 10px 0;
     }
     .footer_left ul {
         list-style: none;
     }
     .footer_left ul li {
         padding: 0 20px 0 0;
     }
     .footer_left ul li a {
         font-size: 14px;
         text-decoration: none;
         color: rgb(236, 225, 225);
         transition: .3s linear;
     }
     .footer_left ul li a:hover{
         text-decoration: underline;
         color: burlywood;
         transition: .3s linear;
     }
     .icons a i {
         padding: 0 10px ;
     }
     .icons a i:hover {
         color: burlywood;
     }
     
        
 }


 @media screen and (max-width: 540px){
    .about {
     width: 100%;
     max-height: 100%;
     
     }
 
     .jumbotron.about_items {
         width: 85%;
         text-align: left;
         margin-top: -50px;
         margin-left: -50px;
         background: none;
         background-color: none;
 
     }
 
     .about_items  p {
         font-size: 14px;
         line-height: 1.4;
         color: rgb(59, 53, 53);
         font-weight: 500;
     }
 
     /* servecces */
 
    
     .card-body {
         margin-bottom: 10px;
     }
 
     /* OUr teams */
 
     .teams {
         width: 100%;
         max-height: 100%;
         background: url('../img/carousel-bg.jpg') center /  no-repeat;
     }

     .card {
         width: 400px;
     }

     .swiper-slide {
        text-align: center;
        font-size: 12px;
    
    }
    .card-body.card-title {
        font-size: 10px;
    }
 
     /* Our contacts */
 
     .contacts{
         width: 100%;
         max-height: 100%;
         text-align: center;
         background-color: #F7F8FC;
     }

     .cen {
         margin-top: -70px;
     }
     .one{
         margin: 0 3px 5px 3px;
         width: 40%;
         height: 35px;
         font-size: 14px;
         padding: 10px 20px 10px 20px;
         background-color: rgba(0, 0, 0, 0.1);
         border: 1px solid rgba(0, 0, 0, 0.1);
     }
     .coment{
         width: 40%;
         margin-top: 5px;
         font-size: 14px;
         height: 120px;
         padding: 5px 10px;
     }

/* Footer */

     .footer_items {
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;
         justify-content: center;
         width: 100%;
         padding: 10px 0 10px 0;
     }

     .footer_items p{
         margin-top: -25px;
         margin-bottom: 0;
         padding-bottom: 0;
         
     }
     .footer_left ul {
         text-align: left;
     }
     .footer_left ul li {
         padding: 0 20px 0 0;
     }
     .footer_left ul li a {
         font-size: 14px;
         text-decoration: none;
         color: rgb(236, 225, 225);
         transition: .3s linear;
     }
     .icons a i {
         text-align: left;
         padding: 0 30px ;
         margin-left: -40px;
         margin-top: -30px;
     }

}



@media screen and (max-width: 414px){
    .about {
     width: 100%;
     max-height: 100%;
     background: url('../img/bg-11.jpg') top -20px right -160px / cover  no-repeat;
     
     }
 
     .jumbotron.about_items {
         width: 100%;
         text-align: center;
         margin-top: -50px;
         margin-left: -10px;
 
     }
 
     .about_items  p {
         font-size: 14px;
         font-weight: 700;
         line-height: 1.5;
         color: rgb(59, 53, 53);
         font-weight: 500;
     }
 
     /* servecces */

    .servecces{
        margin-top: 0px;
        background-color: #FFFFFF;
    }

    .servecces h1 {
        margin-top: -20px;
        padding-top: -20px;
        padding-bottom: -20px;
    }

    .servecces.container-fluid.container_cards {
        margin: -20px;
        padding: -20px;
    }

     /* OUr teams */
 
     .teams {
         width: 100%;
         max-height: 100%;
         background: url('../img/carousel-bg.jpg') center /  no-repeat;
     }


     .swiper-slide {
        text-align: center;
        font-size: 12px;
        padding: 0;
    
    }
    .card-body {
        padding: 0;
    }
    .card-title {
        font-size: 13px;
        padding: 0;
    }
 
     /* Our contacts */
 
     .contacts{
         width: 100%;
         max-height: 100%;
         text-align: center;
         background-color: #F7F8FC;
     }

     .cen {
         margin-top: -70px;
     }
     .one{
         margin: 0 3px 5px 3px;
         width: 48%;
         height: 30px;
         font-size: 12px;
         padding: 10px 10px 10px 20px;
         background-color: rgba(0, 0, 0, 0.1);
         border: 1px solid rgba(0, 0, 0, 0.1);
     }
     .coment{
         width: 48%;
         margin-top: 8px;
         font-size: 12px;
         height: 130px;
         padding: 5px 10px;
         border-left: none;
         background: none;
     }


    .submit input{
        background-color: royalblue;
        color: white;
        border: 0;
        width: 25%;
        height: 35px;
        border-radius: 5px;
    }

 
     .footer_items p{
         width: 50%;
         margin-top: -25px;
         margin-left: -20px;
         margin-bottom: 0;
         padding-bottom: 0;
         font-size: 12px;
         
     }
     .footer_left ul {
         text-align: left;
     }
     .footer_left ul li {
         padding: 0 20px 0 0;
         font-size: 13px;
     }
     .footer_left ul li a {
         font-size: 13px;
         transition: .3s linear;
     }
     .icons  {
         text-align: left;
         padding: 10px 30px ;
         margin-left: -40px;
         margin-top: -10px;
     }

}


@media screen and (max-width: 375px){
    .about {
     width: 100%;
     max-height: 100%;
     background: url('../img/bg-11.jpg') top 0px right -160px / cover  no-repeat;
     
     }

     /* OUr teams */
 
     .teams {
         width: 100%;
         max-height: 100%;
         background: url('../img/carousel-bg.jpg') center /  no-repeat;
     }


     .swiper-slide {
        text-align: center;
        font-size: 12px;
        padding: 0;
    
    }
    .card-body {
        padding: 0;
    }
    .card-title {
        font-size: 13px;
        padding: 0;
    }
 
     /* Our contacts */
 
     .contacts{
         width: 100%;
         height: 50vh;
         text-align: center;
     }

     .contacts h1 {
         font-size: 30px;
     }

     .cen {
         margin-top: -80px;
     }
     .one{
         margin: 0 3px 5px 3px;
         width: 50%;
     }

     .coment{
         width: 48%;
         margin-top: 8px;
         font-size: 12px;
         height: 70px;
     }


    .submit input{
        width: 28%;
        height: 35px;
        margin-left: -5px;
    }
     .footer_left ul {
         text-align: left;
     }
     .footer_left ul li {
         padding: 0 20px 0 0;
         font-size: 13px;
     }
     .footer_left ul li a {
         font-size: 13px;
         text-decoration: none;
         color: rgb(236, 225, 225);
         transition: .3s linear;
     }
     .icons  {
         text-align: left;
         padding: 10px 30px ;
         margin-left: 5px;
         margin-top: -10px;
     }

}


@media screen and (max-width: 360px){

    .about {
     width: 100%;
     max-height: 100%;
     background: url('../img/bg-11.jpg') top 10px right -160px / cover  no-repeat;
     
     }

     .jumbotron.about_items {
        width: 380px;
        text-align: center;
        margin-top: -50px;
        margin-left: -50px;

    }

    .about_items  p {
        font-size: 13px;
        font-weight: 900;
        line-height: 1.5;
        color: rgb(59, 53, 53);
        font-weight: 500;
    }


     /* OUr teams */
 
     .teams {
         width: 100%;
         max-height: 100%;
         background: url('../img/carousel-bg.jpg') center /  no-repeat;
     }


     .swiper-slide {
        text-align: center;
        font-size: 10px;
        padding: 3px;
    
    }
    .card-body p {
        font-size: 10px;
    
    }
    .card-title {
        font-size: 13px;
        padding: 0;
    }
 
     /* Our contacts */
 
     .contacts{
         width: 100%;
         max-height: 100%;
         text-align: center;
     }

     .contacts h1 {
         margin-top: -30px;
         font-size: 20px;
     }

     .cen {
         margin-top: -53px;
     }
     .one{
         margin: 0 3px 5px 3px;
         width: 52%;
     }

     .coment{
         width: 50%;
         margin-top: 8px;
         height: 90px;
         font-size: 12px;
     }
     .submit{
        margin-top: 4px;
     }

    .submit input{
        width: 33%;
        height: 30px;
        margin-left: -5px;
        
    }
     .footer_left ul {
         text-align: left;
     }

     .footer_left ul li {
         padding: 0 20px 0 0;
         font-size: 13px;
     }
     .footer_left ul li a {
         font-size: 13px;
         text-decoration: none;
         color: rgb(236, 225, 225);
         transition: .3s linear;
     }
     .icons  {
         text-align: left;
         padding: 10px 30px ;
         margin-left: 5px;
         margin-top: -10px;
    }

}




@media screen and (max-width: 320px){
    .about {
     width: 100%;
     max-height: 100%;
     background: url('../img/bg-11.jpg') top 10px right -160px / cover  no-repeat;
     
     }

     .jumbotron.about_items {
        width: 380px;
        text-align: center;
        margin-top: -50px;
        margin-left: -50px;
    }

    .about_items  p {
        font-size: 13px;
        font-weight: 900;
        line-height: 1.5;
        color: rgb(59, 53, 53);
        font-weight: 500;
    }


     /* OUr teams */
 
     .teams {
         width: 100%;
         max-height: 100%;
         background: url('../img/carousel-bg.jpg') center /  no-repeat;
     }


     .swiper-slide {
        text-align: center;
        font-size: 10px;
        padding: 3px;
    
    }
    .card-body p {
        font-size: 10px;
    
    }
    .card-title {
        font-size: 13px;
        padding: 0;
    }
 
     /* Our contacts */
 
     .contacts{
         width: 100%;
         max-height: 100%;
         text-align: center;
     }

     .contacts h1 {
         margin-top: -30px;
         font-size: 25px;
     }

     .cen {
         margin-top: -75px;
     }
     .one{
         margin: 0 3px 5px 3px;
         width: 55%;
     }

     .coment{
         width: 55%;
         margin-top: 8px;
         height: 90px;
         font-size: 12px;
     }
     .submit{
        margin-top: -4px;
     }

    .submit input{
        width: 40%;
        height: 30px;
        margin-left: -5px;
        
    }
     .footer_left ul {
         text-align: left;
     }
     .footer_left ul li {
         padding: 0 20px 0 0;
         font-size: 13px;
     }
     .footer_left ul li a {
         font-size: 13px;
         text-decoration: none;
         color: rgb(236, 225, 225);
         transition: .3s linear;
     }
     .icons  {
         text-align: left;
         padding: 10px 30px ;
         margin-left: 5px;
         margin-top: -10px;
    }

}
}